*{
  max-width: 100vw;
}

.bg-img{
  background-image: url(https://www.123freevectors.com/wp-content/original/113997-light-blue-diagonal-stripes-background-vector.jpg);
}

.flex-container {
  display: flex;
}

.but {
  background-color: black;
  color: white;
  height: 2rem;
  width: 10rem;
  border-radius: 8px;
}

.column {
  flex-direction: column;
justify-content: flex-end;
}

.pics {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.image-row {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px black;
  background-color: darkgray;
  padding-bottom: 10vh;
  padding-top: 5vh;
}

.flex-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom {
  margin-bottom: 5rem;
}

.top {
  margin-top: 5rem;
}

.row-1 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.center{
  justify-content: center;
}

footer {
  background-color: rgb(99, 71, 226);
}

.absolute {
  position: absolute;
  background-color: white;
  border: solid 1px black;
  border-radius: 2em;
}

.relative {
  position: relative;
  top: 5vh;
}

.bg-gray{
  display: flex;
  justify-content: center;
  border-bottom: solid 2px black;
  background-color: darkgray;
}

.card-body {
  position: absolute;
  bottom: -11em;
  background-color: white;
  width: 100%;
}

.btn {
  background-color: black;
  color: white;
  height: 2rem;
  position: relative;
  top: 3rem;
}

.lower {
  margin-bottom: 15em;
}

.text-center {
background: transparent;
border: none;
}

@media all and (min-width: 768px) {
  .me {order: 2;}
  .wcb {order: 1;}
}
